    body{
        background:yellow;
    }
    h1{
        color:blue;
    }
    section{
        background:orange;
    }
    #fullstackdevelopment {
        background: black;
        color: white;
        font-style: italic;
        font-weight: 900;
        font-size: 50px;
        font-family: Arial,sans-serif;
        text-align: center;
    }